header{
    text-align: center;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.row{
    margin: 5px;
}
    
#users-list{
    border: solid 1px black;
}

.card-body{
    padding: 25px;
    text-align: center;
}